# Miscellaneous System Files
.DS_Store
**/.DS_Store
*.log
*.swp
*.class
*.pyc
.history/
.svn/
migrate.log

# IDE & Editor files
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.code-workspace
.history/

# Flutter build artifacts and caches
.dart_tool/
**/.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
/build/

# Android specific exclusions
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/key.properties
**/android/app/src/main/res/values/google-services.json
**/android/app/local.properties
**/android/app/key.properties

# iOS/macOS specific exclusions
**/ios/Flutter/.last_build_id
**/ios/Flutter/Ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Runner/GeneratedPluginRegistrant.swift
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Flutter.framework
**/ios/Flutter/App.framework
**/ios/Flutter/App.framework.zip
**/.flutter-plugins
**/.flutter-plugins-dependencies
*.xcworkspace
*.xcscheme
*.xslt
*.xctest
DerivedData/

# Test Coverage
cov/
coverage/

# Web build output
.web/
build/web/

# Symbol database
.symbols/

# Secrets and environment files
.env
.env.*
secret.json
